html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

body {
}

h1{
    color: #595959;
}

#header{
    background-image: url('../images/header-large.jpg');
    background-repeat: no-repeat;
    background-position: center 20px;
    margin-bottom: 30px;
}

#header_inner{
    width: 896px;
    margin: 0 auto;
    background-color: #fff;
    height: 145px;
    background: none;
    padding-bottom: 20px;
    border-bottom: #f1eafb 1px solid;
    font-family: 'Amatic SC';
    
    h1{
        font-size: 48px;
        margin-left: 90px;
        margin-top: 100px;
        vertical-align: middle;
        display: inline-block;
        float: left;
    }
    
    h2{
        float: right;
        font-size: 34px;
        color: #999;
        margin-top: 114px;
        margin-right: 20px;
    }
}

#body{
  width: 896px;
  margin: 0 auto;
  color: #595959;
  clear: both;
  
  h3{
    font-family: 'Amatic SC';
    font-size: 36px;
  }

  p{
    font-size: 14px;
    font-family: 'Verdana';
    margin-bottom: 10px;
  }
  
  #todo_list{
    width: auto;
    float: left;
    background-color: #f1eafb;
    color: #595959;
    font-family: 'Amatic SC';
    border: 1px #595959 solid;
    padding-right: 45px;
    margin-bottom: 30px;
    margin-right: 45px;
    
    h3{
      font-size: 36px;
      padding-left: 45px;
      padding-bottom: 10px;
    }
    
    ul{
      list-style-image: url('../images/checkbox.png');
      padding-left: 45px;
      
      li{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
        padding-left: 6px;
        font-weight: 700;
        
        a{
          color: inherit;
        }
      }
    }
  }
}

