{% load cms_tags sekizai_tags menu_tags %}
<html>
  <head>
  	  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  	  <link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css" />
  	  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  	  {% block extra_css %}{% endblock %}
      {% render_block "js" %}
  	  {% block extra_js %}
      {% endblock %}
  	  <title>Mark and Ashley Tie the Knot</title>
      {% render_block "css" %}
      <!--[if gte IE 9]>
	    <style type="text/css">
	      .gradient {
	         filter: none;
	      }
	    </style>
	  <![endif]-->
  </head>
  <body>
      {% cms_toolbar %}
      <div id="header">
            <div id="header_inner">
                <h1>Mark and Ashley Tie The Knot</h1>
                <h2>Friday, June 1st, 2012</h2>
            </div>
        </div>
        <div id="body">
            <div id="todo_list">
                <h3>To Do</h3>
                <ul>
                    {% show_menu %}
                </ul>
            </div>
            <div id="content">
	      		{% block base_content%}{% endblock %}
	      	</div>
        </div>
  </body>
</html>