{% extends "base.html" %}
{% block extra_css %}
<link href="{{ STATIC_URL }}css/rsvp.css" media="screen" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/rsvp.js"></script>
{% endblock %}

{% block base_content %}
<form method="POST" id="rsvp-form">{% csrf_token %}
	<div class="rsvp_step" id="rsvp_step1">
		<span class="step_number"><span>1</span></span>
		<span class="step_title">Please enter your <strong>RSVP code</strong></span> <input type="text" name="rsvp_code" id="rsvp_code" />
	</div>
	<div class="rsvp_step" id="rsvp_step2">
	
	</div>
	<div class="rsvp_step" id="rsvp_step3">
	
	</div>
</form>
{% endblock %}
