<span class="step_number"><span>3</span></span>
<span class="step_title">Please confirm your <strong>meal choice</strong></span>
<div id="step3_choices">
	<ul>
		{% for guest in invitation.guest_set.all %}
			<li class="guest-{{guest.id}}{% if guest.is_blank %} plus-one-meal{% endif %}">
				<span class="guest_name">{{ guest.first_name }} {{ guest.last_name }}</span>
				<select class="meal-select" name="guest-{{guest.id}}-meal">
					<option value="0">-- choose meal --</option>
					{% for value,name in meals %}
						<option value="{{ value }}">{{ name }}</option>
					{% endfor %}
				</select>
			</li>
		{% endfor %}
	</ul>
</div>

<span class="step_title">Please enter any allergies or dietary concerns</span>
<textarea name="dietary-needs"></textarea>

<a href="/rsvp/" id="rsvp-button" class="gradient">RSVP</a>
