{% if invitation.is_complete %}
<span>Your RSVP has already been received. If you need to make changes please contact us by phone at (902) 429 9525 or by email at <a href="mailto:markjamieson0@gmail.com">markjamieson0@gmail.com</a></span>
{% else %}
<span class="step_number"><span>2</span></span>
<span class="step_title">Are you able to <strong>attend</strong>?</span>
<div id="step2_choices">
	<ul>
		{% for guest in invitation.guest_set.all %}
			<li class="guest-{{guest.id}}{% if guest.is_blank %} plus-one{% endif %}">
				<input type="hidden" name="guest-{{guest.id}}-rsvp" />
				<span class="guest_name">
					{% if guest.is_blank %}
						Plus one
					{% else %}
						{{guest.first_name}} {{guest.last_name}}
					{% endif %}
				</span>
				<span class="choices">
					<a href="#"><span class="check"></span></a>
					<a href="#"><span class="cross"></span></a>
				</span>
				<br />
				<span class="attendance-flag">- attending</span>
			</li>
		{% endfor %}
		<input type="hidden" name="plus-one-first-name" />
		<input type="hidden" name="plus-one-last-name" />
	</ul>
</div>

<div id="plus-one-form">
	<ul>
		<li><label>First name</label><input type="text" class="first_name" /></li>
		<li><label>Last name</label><input type="text" class="last_name" /></li>
	</ul>
</div>
{% endif %}
