{% extends "base.html" %}

{% block base_content %}
<h1 style="padding: 0px 0px 20px 0px">Thank you for your RSVP</h1>

<ul style="padding: 0px 0px 20px 0px">
	{% for guest in invitation.guest_set.all %}
	 	{% if guest.first_name or guest.last_name %}
	 		<li><strong>{{ guest.first_name }} {{ guest.last_name }}</strong> {% if guest.is_coming %}Attending | <strong>Meal Choice</strong> {{ guest.meal }}{% else %}Not Attending{% endif %}</li>
	 	{% endif %}
	{% endfor %}
</ul>

<p>If you need to change your RSVP at any time in the future please contact us by phone at (902) 429 9525 or by email at <a href="mailto:markjamieson0@gmail.com">markjamieson0@gmail.com</a></p>
{% endblock %}
